.maintitle{
    font-size: 45px;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(180deg, red, yellow, blue) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description{
    text-align: center;
    color:blue;
    font-size: 25px;
    margin-top: 20px;
}
.btn{
    width: 100px;
    height: 60px;
    background: red;
    margin-top: 45px;
}
.container{
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}